.counter {
    background-color: rgb(45, 45, 45);
}

.counter-box {
    padding: 10px 15px;
    border: 2px solid rgb(81, 81, 81);
    background-color: rgb(69, 69, 69);
    border-radius: 6px;
    color: #fff;
    margin: 5px;
    font-size: 20px;
    font-weight: 700;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
